In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [4]:
df = pd.read_csv("Final.csv")

In [6]:
df.head()

   Word Status        FileName
0     A     ok  a01-000u-00-00
1  MOVE     ok  a01-000u-00-01
2    to     ok  a01-000u-00-02
3  stop     ok  a01-000u-00-03
4   Mr.     ok  a01-000u-00-04

In [18]:
df = df[df.Status != "err"]

In [19]:
len(df.index)

96456

In [20]:
df.to_csv("Cleaned.csv", index=False)